@section ContentHeader {
    Ops, something went wrong!
}

@section ContentHeaderSub {
    Correlation ID: <span class="btn btn-info">@CorrelationProvider.CorrelationId</span>
}

<p>Please contact our support with id <span class="btn btn-warning"><em>@CorrelationProvider.CorrelationId</em></span> and we'll investigate this issue, thanks!</p>